<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%_include ../views/partials/head.ejs %>
    </head>
    <body>

<%_include ../views/partials/nav.ejs %>
          <ul>
            <% for(let i = 0; i < beasts.length; i++){ %>
              <a href="/beasts/<%=beasts[i].id; %>">


                  <li>
                    <img src="<%= beasts[i].beastImg %>" alt="<%= beasts[i].name %>">
                      <br>
                    <%= beasts[i].name %>
                      <br>

                    <%= beasts[i].description %>
                    </a>
                      <br>
                      <a href="/users/<%= beasts[i].artist %>/gallery"><%= beasts[i].artist %></a>


                  </li>

                  <% } %>

          </ul>
        </div>

        <%_include ../views/partials/footer.ejs %>


    </body>
</html>
