<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
  
      <nav>
        <a href="/beasts/new">Create a New Creature</a>
        <ul>
          <li>
              <a href="/sessions/new">Log In</a>
          </li>
          <li>
              <a href="/users/new">Register</a>
          </li>

          <li>
              <form action="/sessions?_method=DELETE" method="POST">
                  <input type="submit" value="Logout"/>
              </form>
          </li>

        </ul>
      </nav>

          <ul>
            <% for(let i = 0; i < beasts.length; i++){ %>
              <a href="/beasts/<%=beasts[i].id; %>">
                <li>
                  <img src="<%= beasts[i].beastImg %>" alt="<%= beasts[i].name %>">
                </li>

                  <li>
                    <%= beasts[i].name %>
                      <br>

                    <%= beasts[i].description %>

                  </li>
                  </a>
                  <% } %>

          </ul>
        </div>




    </body>
</html>
