<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

<%_include ../views/partials/nav.ejs %>
          <ul>
            <% for(let i = 0; i < beasts.length; i++){ %>
              <a href="/beasts/<%=beasts[i].id; %>">
                <li>
                  <img src="<%= beasts[i].beastImg %>" alt="<%= beasts[i].name %>">
                </li>

                  <li>
                    <%= beasts[i].name %>
                      <br>

                    <%= beasts[i].description %>

                  </li>
                  </a>
                  <% } %>

          </ul>
        </div>

        <%_include ../views/partials/footer.ejs %>


    </body>
</html>
