<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../views/partials/head.ejs %>
  </head>
  <body>

    <%_include ../views/partials/nav.ejs %>
    <div class="show-container">
      <div class="main-show-content">
        <div class="">
          <h1>"<%=beast.name; %>"</h1>
          <h2>By: <%=beast.artist; %></h2>
          <% if (currentUser != undefined ) { %>
            <% if (currentUser.username === beast.artist ) { %>
            <a href="/beasts/<%=beast.id; %>/edit"><button type="button" name="button" class="btn btn-danger">Edit</button></a>
            <% } %>
          <% } %>
          <br>
          <img src="<%= beast.beastImg; %>" alt="" class="show-img">
          <br>
          <br>
          <h4><%=beast.description; %></h4>
          <br>
          tags: <%=beast.tags; %>
        </div>
      </div>

     <div class="">
        <h3>Comments</h3>
        <% for(let i=0; i < beast.comments.length; i++) { %>
            <div class="comment-div">
                <p>
                    <%=beast.comments[i].comment%>
                </p>
                <div class="">
                    <a href="/users/<%=beast.comments[i].commentor%>">
                    Commented by:  <%=beast.comments[i].commentor%>
                    </a>

                </div>
            </div>
        <% } %>
    </div>

     <% if (currentUser) { %>
        <form class="" action="/beasts/<%=beast._id%>/comment" method="POST">
            <fieldset>
              <legend>Post A Comment</legend>

              <textarea class="" name="comment" id="comment" cols="80" rows="3"></textarea>
              <input type="text" name="commentor" value="<%= currentUser.username %>" style="display:none">
              <br>
              <input class="" type="submit" value="Post Comment">
            </fieldset>
        </form>
    <% } %>
    </div>


  <%_include ../views/partials/footer.ejs %>
  </body>
</html>
