<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Required to convert named colors to RGB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.4/rgbcolor.min.js"></script>
    <!-- Optional if you want blur -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stackblur-canvas/1.4.1/stackblur.min.js"></script>
    <!-- Main canvg code -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script>
  </head>
  <body>
    <nav>
    <a href="/beasts">HOME</a>
    </nav>
    <ul>

      <li>


        <h1>EVENTUAL IMAGE</h1>
        <img src="<%= beast.beastImg; %>" alt="">
          Name: <%=beast.name; %>
          Description: <%=beast.description; %>
          tags: <%=beast.tags; %>
      </li>

    </ul>
    <a href="/beasts/<%=beast.id; %>/edit"><button type="button" name="button">Edit</button></a>

    <form action="/beasts/<%=beast.id; %>?_method=DELETE" method="POST">
       <input type="submit" value="DELETE"/>
   </form>


   <script type="text/javascript">
window.onload = function() {

  console.log(<%= beast.beastImg; %>)
  //load '../path/to/your.svg' in the canvas with id = 'canvas'
  canvg('canvas', '../path')

  //load a svg snippet in the canvas with id = 'drawingArea'
  canvg(document.getElementById('drawingArea'), '<svg>...</svg>')

  //ignore mouse events and animation
  canvg('canvas', 'file.svg', { ignoreMouse: true, ignoreAnimation: true })
}
</script>
  </body>
</html>
