<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%_include ../partials/head.ejs %>
  </head>
  <body>
    <%_include ../partials/nav.ejs %>

  
    <div class="row your-gallery-container">
      <div class="row">
        <% for(let i = 0; i < beasts.length; i++){ %>
        <div class="your-gallery-div col-sm-4">
          <a href="/beasts/<%= beasts[i].id %>">
            <img src="<%= beasts[i].beastImg %>" alt="<%= beasts[i].name %>">
          <div class="">
              <%= beasts[i].name %>
              <br>
                <%= beasts[i].artist %>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <%_include ../partials/footer.ejs %>
  </body>
</html>
